# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/Frontend/sohpgen/node_modules/
/Frontend/sohpgen/.next
/Frontend/sohpgen/.idea
/Frontend/sohpgen/.env